<mat-toolbar class="titulo bg-sombra text-white">
  <div align="center" style="text-align: right" appTitulo>
    Agregar nuevo Usuario
  </div>
</mat-toolbar>

<mat-card-content>
  <form class="bg bg-sombra" [formGroup]="formularioUsuario" (ngSubmit)="GuardarUsuario()">
    <div fxLayout="row" fxFlexFill fxLayout.lt-md="column" fxLayoutGap="8px">
      <mat-form-field fxFlex>
        <mat-label class="text-white">Usuario</mat-label> 
        <input
          class="text-white"
          formControlName="usuario"
          matTooltip="Ingrese el nombre del usuario"
          matInput         
          autocomplete="off"
        />
        <mat-error class="fs-5">
          <span *ngIf="formularioUsuario.get('usuario')?.invalid" class="error"
            >El Nombre de usuario es requerido
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label class="text-white">Contraseña</mat-label> 
        <input
          class="text-white"
          formControlName="contrasena"
          matTooltip="Ingrese la contraseña del usuario"
          matInput          
          autocomplete="off"
        />
        <mat-error class="fs-5">
          <span
            *ngIf="formularioUsuario.get('contrasena')?.invalid"
            class="error"
            >La contraseña es requerida
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxFlexFill fxLayout.lt-md="column" fxLayoutGap="8px">
      <mat-form-field fxFlex>
        <mat-label class="text-white">Rol</mat-label> 
        <input
          class="text-white"
          formControlName="rol"
          matTooltip="Ingrese el rol del alumno"
          matInput         
          autocomplete="off"
        />
        <mat-error class="fs-5">
          <span *ngIf="formularioUsuario.get('usuario')?.invalid" class="error"
            >El rol es requerido
          </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mt-3">
      <button
        type="submit"
        mat-raised-button
        color="accent"
        matTooltip="Submit"
        [disabled]="formularioUsuario.invalid"
      >
        Agregar Usuario</button
      >&nbsp;&nbsp;&nbsp;&nbsp;
      <button
        type="reset"
        mat-raised-button
        color="accent"
        matTooltip="Reset"
        (click)="reiniciarFormulario()"
      >
        Reiniciar
      </button>
    </div>

    <p
      *ngIf="dataSaved"
      style="
        color: rgb(0, 128, 0);
        font-size: 20px;
        font-weight: bold;
        margin-top: 2rem;
      "
      Class="success"
      align="left"
    >
      El Usuario se agregó correctamente
    </p>
  </form>
</mat-card-content>
