/* mat-card-content {
  padding: 5rem 5rem;
} */
.bg{
  background-color:#de95825c;
  padding: 10px;
  border-radius: 15px;
}

.titulo{
  border-radius: 15px;
  background-color:#de9582b7;
}
.bg-sombra {
  /* border: 2px black solid; */
  box-shadow: 30px 30px 30px #de958255;
}

