
table {
  width: 100%;
  background-color:#de95822f;
}
.bg-sombra {
  /* border: 2px black solid; */
  box-shadow: 30px 30px 30px #de9582cb;
}
.titulo{
  border-radius: 15px;
  background-color:#de9582c2;;
}
mat-header-cell,
mat-cell {
  justify-content: center;
}

td,
th {
  color: aliceblue;
  text-align: center !important;
  vertical-align: middle !important;
}
